---
const currentYear = new Date().getFullYear();
---

<footer class="bg-transparent">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="mt-8 pt-8 border-t border-gray-700">
      <p class="text-base text-gray-400 text-center">
        &copy; {currentYear} Fairmind. All rights reserved.
      </p>
    </div>
  </div>
</footer>
